<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/stylereaderdash.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/viewbookstyle.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <title> View Book | LibroCo. </title>
</head>

<body>
    <nav>
        <a class="navbar-brand" href="{{ url_for('library') }}">
            <img div class="logo" src="{{ url_for('static', filename='images/logo.png') }}" width="250" height="50" />
        </a>
        

        <div class="separator"></div>

        <div class="navbar-links">
            <a href="library.html" class="active"> Library </a>
            <a href="mybooks.html"> My Books </a>
            <a href="wishlist.html"> Wishlist </a>
        </div>

        <div class="navbar-right">
            <a href="profile.html"> Profile </a>
            <a href="logout.html"> Log Out </a>
        </div>
    </nav>
    <div class="divider"></div> <!-- Line divider -->

    <div class="main-content">
        <div class="header-row">
            <div class="viewbook_container">
                <div class="book_image">
                    <div class="overlay_wrapper">
                        <img src="{{ url_for('static', filename='images/book_image.png') }}" class="responsive_image" alt="Book Image">
                    </div>
                </div>

                <div class="viewbook_details">
                    <h3 class="book_title">Bridgerton: The Duke and I</h3>
                    <h5 class="author">Author: Julia Quinn</h5>
                    <h5 class="publication_year">Year: 2000</h5>
                    <h5 class="genre">Genre:
                        <span class="genre_details">Romance</span>
                    </h5>
                    <h5 class="availability">Availability:<span class="status">Available</span>
                    </h5>
                    <div class="description">London, 1813. Daphne Bridgerton is keen to marry and start
                        a family, but to date, all of the men she has met have regarded her as a friend
                        and no more. Simon Bassett, Duke of Hastings has quite the opposite problem: he is
                        regarded as the most eligible bachelor but desires nothing more than to remain single
                        and childless. When Simon meets Daphne and learns of her troubles, he devises a plan
                        that he believes will suit them both: they will feign a courtship. For Simon, the fake
                        relationship will keep his would-be brides away, and for Daphne, Simon’s perceived
                        interest in her will hopefully spur the other men of London to pursue her. The trouble
                        is, plans rarely go according to plan, and it does not take long before their sham
                        relationship starts to feel altogether too real.</div>

                    <div class="editbook_button_group">
                        <a href="{{ url_for('library') }}">
                            <button type="button" class="back_button">Back</button>
                        </a>
                        <a href="{{ url_for('wishlist') }}">
                            <button type="button" class="addwishlist_button">Add To Wishlist</button>
                        </a>
                        <button type="submit" class="borrow_button">Borrow</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>

        <script>
            document.addEventListener("DOMContentLoaded", function () {
                const statusElement = document.querySelector(".status");
                const statusText = statusElement.textContent.trim();

                // Update the data-status attribute based on text content
                if (statusText === "Available" || statusText === "Unavailable") {
                    statusElement.setAttribute("data-status", statusText);
                }
            });
        </script>


</body>

</html>