@import url('https://fonts.googleapis.com/css2?family=Istok+Web:wght@400;700&display=swap');

.navbar-right a {
    transition: background-color 0.3s ease; 
    margin-right: 8px;
}

.navbar-right a:hover {
    background-color: #FFEDBD;
    border-radius: 4px;
}

.profile_container {
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}

.profile_image {
    height: auto;
    width: 100%;
    max-width: 8.125rem;
    display: flex;
    justify-content: center;
    align-items: stretch;
    overflow: hidden;
}

.profile_details {
    margin-left: -0.45rem;
    height: auto;
    width: 70%;
    word-break: break-all;
}

.name {
    font-size: 24px;
    margin: 0;
    line-height: 2.3;
}

.label,
.phone_details,
.email_details {
    margin: 0.125rem 0;
    line-height: 1.2;
}

.label {
    font-weight: bold;
    font-size: 18px;
}

.phone_details,
.email_details {
    font-weight: normal;
    font-size: 18px;
}

.edit {
    height: 7.063rem;
    width: 10%;
}

.edit_button {
    border: none;
    height: 3.125rem;
    width: 6rem;
    background-color: #FFCB44;
    font-weight: normal;
    font-size: 1.125rem;
    border-radius: 0.438rem;
    cursor: pointer;
}

.book_history {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 60%;
    margin-top: 2.125rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0.313rem;
    box-sizing: border-box;
}

.book_history_header {
    margin: 0;
    text-align: left;
    line-height: 2.3;
    font-size: 24px;
}

.book_list {
    list-style-type: none;
    margin-top: 0.625rem;
    padding-left: 0;
    line-height: 1.7;
    font-size: 18px;
    word-break: break-all;
}

@media (max-width: 768px) {
    .profile_container {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .profile_image {
        width: 50%;
    }

    .profile_details {
        width: 100%;
        margin-left: -0.45rem;
        text-align: center;
        overflow-wrap: break-word;
    }

    .edit {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .edit_button {
        margin-top: 1rem;
    }

    .book_history {
        width: 100%;
        margin-top: 0;
        display: flex;
        align-items: center;
    }

    .book_history_header {
        font-size: 24px;
    }

    .book_list {
        font-size: 18px;
    }
}
